.sodaBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    border: none;
    padding: 18px;
    border-radius: 9px;
    background: #8000809c;
    color: white;
}

.wrapper{
    position: relative;
}

.count{
    position: absolute;
    top: 40%;
    right: 48%;
}

.colaImg{
    position: absolute;
    top: 0;
}

.colaImg img{
    width: 200px;
}